@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
body,html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
}

.full-screen-div {
    width: 100vh;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height:98.9vh;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* .floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 300px;
    margin-top: 50px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 105px); }
    100%   { transform: translate(0, -0px); }
} */
p{
  color: white;
  font-family: 'Mukta', sans-serif;

}
#text {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
  pointer-events:none !important;
}
#pos1{
  margin-top:85px;
  margin-left:300px;
}
#pos{
  margin-top:300px;
  margin-left:200px;
}
#pos2{
  margin-top:105px;
  margin-left:1000px;
}
#pos3{
  margin-top:300px;
  margin-left:550px;
}
#pos4{
  margin-top:500px;
  margin-left:10px;
}
#pos5{
  margin-top:-200px;
  margin-left:1100px;
}
#pos6{
  margin-top:10px;
  margin-left:600px;
}
#pos7{
  margin-top:550px;
  margin-left:1100px;
}
.floating1 {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  animation: showup 8s infinite;
}
.floating2 {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  animation: showup2 7s infinite;
}
.floating3 {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  animation: showup3 8s infinite;
}
.floating4 {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  animation: showup4 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}
@keyframes showup2 {
    0% {opacity:.1;}
    20% {opacity:0;}
    80% {opacity:0;}
    100% {opacity:1;}
}
@keyframes showup3 {
    0% {opacity:0;}
    20% {opacity:0;}
    80% {opacity:1;}
    100% {opacity:1;}
}
@keyframes showup4 {
    0% {opacity:.1;}
    20% {opacity:1;}
    80% {opacity:0;}
    100% {opacity:0;}
}
